body {
  font: icon;
}

main {
  display: flex;
  gap: 1em;
  margin: 1ex 0;
}

canvas, textarea {
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .25);
  border: none;
  flex: 1;
}

canvas:hover {
  background:
    linear-gradient(45deg, whitesmoke 25%, transparent 25%) 0 0/20px 20px,
    linear-gradient(-45deg, whitesmoke 25%, transparent 25%) 0 10px/20px 20px,
    linear-gradient(45deg, transparent 75%, whitesmoke 75%) 10px -10px/20px 20px,
    linear-gradient(-45deg, transparent 75%, whitesmoke 75%) -10px 0/20px 20px;
}

textarea {
  line-height: 2.5em;
  margin: 0;
  outline: none;
  overscroll-behavior: none;
  padding: 0 1em;
  resize: none;
}

footer {
  display: flex;
  gap: 1ex;
}

footer div {
  border: 1px inset whitesmoke;
  cursor: pointer;
  padding: 0 1ex;
}
